firstmuleapp/src/main/mule/firstmuleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db0e474b-6e93-418c-99c2-d65b8ac71bd8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1d4ab7e3-dbb8-4320-b13d-21e6d7cf46f1" >
		<http:request-connection protocol="HTTPS" host="rickandmortyapi.com" />
	</http:request-config>
	<flow name="HttpFlow" doc:id="4b25e901-a06e-40ad-9a10-27abfb272d93" >
		<http:listener doc:name="Listener" doc:id="faf7acc7-475d-4e7e-9d27-5eb1f770033b" config-ref="HTTP_Listener_config" path="/log"/>
		<http:request method="GET" doc:name="Request" doc:id="d1ba40ec-9ff5-4569-bed0-499ce7d0b7a0" config-ref="HTTP_Request_configuration" path="/api/character/108"/>
		<logger level="INFO" doc:name="Logger" doc:id="31036faa-e096-4c8b-b7e9-73056792a25b" message="#[payload.name ++ ' ' ++ upper(payload.status)]"/>
	</flow>
</mule>
